/*Base selectors*/
body {
	width: 100%;
	margin-top: 0;
	font-family: 'Titillium Web', sans-serif;
}
header {
	text-align: center;
	background-color: #f8f9f9;
}
main {
	text-align: center;
	font-size: .5em;
}
main h1 {
	padding: 40px 0;
}
article {
	text-align: center;
	margin-bottom: 50px;
}
article h2 {
	font-size: 2em;
	padding-top: .5em;
}
article p {
	font-size: 2em;
	padding: 0 25px;
}
footer {
	text-align: center;
	background-color: #f8f9f9;
	padding: 20px 20px 10px 20px;
}
footer p {
	font-size: 1em;
	padding: 5px 0;
}
hr {
	margin-top: 50px;
}
/*class selectors*/
.name {
	padding-top: 1em;
	font-size: 2em;
	margin-top: 0;
}
.main-nav {
	list-style: none;
	font-size: 1.5em;
	padding: 0 10px;
}
.nav {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}
.profile-image {
	margin-top: 1em;
	width: 65%;
}
.intro {
	font-size: 1.175em;
	padding: 10px 10px 50px;
	color: #909497;
}
.a-pic {
	width: 90%;
}
.bottom-name {
	float: left;
	font-size: 1em;
}
.to-top {
	float: right;
	font-size: 1em;
}
.contact {
	font-size: 1em;
}
/*pseudo link*/
a:link {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
/*media queries*/
@media (min-width: 768px) {
	header {
		padding: 20px 25px;

	}
	main h1 {
		font-size: 3em;
	}
	.nav {
		display: inline-block;
		background-color: #f8f9f9;
		margin: 15px 30px;
	}
	.contact {
		font-size: 2em;
	}
	.main-nav {
		background-color: #f8f9f9;
	}
	.profile-image {
		width: 40%;
		float: right;
	}
	.intro {
		width: 55%;
		text-align: left;
		float: left;
		font-size: 1.5em;
		margin-top: 5px;
	}
	article {
		width: 49%;
		display: inline-block;
		box-sizing: border-box;
		vertical-align: top;
	}
	footer p {
		font-size: 1.25em;
		padding: 0 80px;
	}
}
@media (min-width: 1024px) {
	body {
		background-color: #f8f9f9;
	}
	.name {
		float: left;
		padding-left: 20px;
	}
	.main-nav {
		text-align: right;
		font-size: 1.25em;
	}
	main {
		margin: 25px;
		background-color: white;
	}
	main h1 {
		font-size: 3em;
	}
	article {
		width: 33%;
	}
	footer p {
		padding: 5px;
		font-size: 1.5em;
	}
	.note {
		padding: 15px 150px 30px 150px;
	}
	.contact {
		font-size: 2em;
	}
	.name {
		padding: 6px 0 6px 20px;
		margin: 32.5px 0;
	}
}
/*clearfix*/
.container::after { 
  content: "";
  display: block; 
  clear: both;
}
